@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-main-image" style="background-image: url('../../Content/Pictures/large blue test tube.jpg'); " ;
     ">
    <h1>Northwest Labs</h1>
    <br />
    <br />
    <p class="lead p-shaded-text" >
        Here at Northwest Labs, we aim to give the best of Assay analysis.
    </p>
    <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Learn More", "About", "Home")</a></p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />



</div>

<div class="row">
    <div class="col-md-4">
        <h2>Work Orders</h2>
        <p>
           See work orders that need to be finished
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Provide a Quote</h2>
        <p>Get a quick quote for an assay</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Catalogs</h2>
        <p>View Tests, Assays, Protocols and more through the test catalog</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>