@model IEnumerable<Northwest_Prototype.Models.Assay>

@{
    ViewBag.Title = "Get a Quote";
}

<div id="quotejumbo" class="jumbotron-main-image " style="background-image: url('../../Content/Pictures/chemistry beaker with drop.jpg');">

    <br />
    <br />
    <h1> &nbsp; Get a quote</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<table class="table table-striped">
    <tr>
        <th>
            QuoteName
        </th>
        <th>

        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.AssayName)
            </td>

            <td>
                <button type="button" class="btn-secondary">
                    @Html.ActionLink("Add Tests", "Edit", new { id = item.AssayID })
                </button>
                <button type="button" class="btn-secondary">
                    @Html.ActionLink("Get a Quote", "Details", new { id = item.AssayID })
                </button>
            </td>
        </tr>
    }

</table>

</table>
